%td {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 20px;
}
.archive {
  background: #f9f9f9;
  filter: drop-shadow(0px 1px 4px #f2f2f2);
  opacity: 0.7;
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  width: 1360px;
  top: 17px;
  .name {
    @extend %td;
    margin: 0 24px;
    width: 300px;
  }
  .id {
    @extend %td;
    width: 96px;
  }
  .class {
    width: 40px;
    margin: 0 24px;
  }
  .score {
    @extend %td;
    width: 100px;
  }
  .speed {
    @extend %td;
    width: 112px;
    margin: 0 24px;
  }
  .parents {
    width: 384px;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    margin: 0 24px;
    img[alt="vector"] {
      position: absolute;
      right: 7px;
      top: 12px;
      cursor: pointer;
      user-select: none;
    }
    .action-buttons{
      display: none;
    }
    .active {
      display: block;
    }
  }
}
