.headline {
  position: relative;
  width: 1440px;
  height: 48px;

  margin: 0;
  display: flex;
  .text {
    position: relative;
    width: 135px;
    height: 24px;
    left: 40px;
    top: 12px;

    h1 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      /* Gray Dark */

      color: #5b5b5b;
    }
  }
  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;

    position: absolute;
    width: 499px;
    height: 32px;
    left: 471px;
    top: 8px;

    background: #f2f2f2;
    input {
      position: static;
      width: 447px;
      height: 20px;
      left: 0px;
      top: 0px;
      background: none;
      text-transform: none;
      border: none;
      outline: none;
    }
    &::placeholder {
      color: #c0c0c0;
    }
    label {
      position: relative;
      left: 30px;
      cursor: pointer;
    }
  }
  .exportButton {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    position: absolute;
    width: 98px;
    height: 17px;
    right: 173px;
    top: 16px;

    border-radius: 40px;
    h1 {
      position: static;
      width: 76px;
      height: 17px;
      left: 22px;
      top: 0px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: #c0c0c0;
    }
    img {
      position: static;
      width: 15px;
      height: 15px;
      left: 0px;
      top: 0.5px;
      margin-right: 5px;
    }
  }
}
